p h1 h2 h3 h4 h5 p.announcements p.see {
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.header {
  background-color: #2191EA;

}

.header p {
  font-family: "Myriad Pro";
  font-size: 14px;
  color: white;
}

ul.header {
  list-style: none;
}

.header li {
  display: inline-block;
}

div.header.container {
  text-align: right;
  margin-right: 70px;
}

nav.navbar {
  height: 100px;
  background-color: #134975;
}

/*nav.navbar.container {
  display: flex;
  justify-content: center;
}*/

.navbar ul {
  margin: auto;
  padding: 10px;
  list-style: none;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.navbar li {
    display: inline-block;
    padding-left: 10px;
}

div.dashboard {
  background-color: #33cc66;
  border-radius: 7px;
  margin-bottom: 15px;
}

div.dashboard.col-md-3 {
  padding-left: 28px;
}

div.search-box {
  height: 75px;
}

.search-box span{
  display: inline-block;
  vertical-align: middle;
}

/*.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-8, .col-md-9 {
  border-color: black;
  border: 2px;
  border-style: solid;
}*/

div.customer {
  border-style: solid;
}

div.container.grey {
  background-color: grey;
}

div.white {
  margin: 40px;
  background-color: white;
}

div.row.dashboard h1 {
  padding-left: 3px;
}

div.row.announcements {
  border-bottom: solid 1px grey;
  height: 52px;
}

p.announcements {
  padding-left: 21px;
  color: #fe7f13;
  font-size: 14px;
}

div.col-md-2.announcements {
  border-right: solid 1px grey;
}

div.arrows {
  border-left: solid 1px grey;
}

.arrows span {
  display: inline-block;
}

div.left {
  padding: 0px;
  border: none;
}

div.tasks {
  margin-top: 23px;
  margin-bottom: 20px;
}

div.tasks h4 {
  margin-bottom: 23px;
  margin-top: 30px;
  margin-right: 5px;
  padding-left: 10px;
}

div.welcome {
  vertical-align: middle;
  align-items: baseline;
  border-bottom: 1px solid lightgrey;
  padding-right: 11px;
  width: 100%;
}

div.tasks-inline {
  display: inline-flex;
}

div.user-number {
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  width: 60px;
  height: 30px;
  padding: 4px;
  align-items: center;
  margin-left: auto;
}
div.users {
  font-size: 16px;
}

div.sprite-person-grey {
  margin-right: 5px;
}

div.recommendations {
  /*border-top: solid 1px grey;*/
  margin-left: 8px;
}

div.rec-inline {
  display: inline-flex;
}

div.rec-options {
  border-bottom: 1px dotted lightgrey;
  width: 100%;
}

div.recommendations h6 {
  font-size: 10px;
  color: #777777;
  margin-bottom: 0px;
}

div.recommendations p {
  font-size: 16px;
  color: #777777;
  /*border-bottom: 1px dotted lightgrey;*/
  padding-bottom: 12px;
}

#pie-charts h5 {
  color: grey;
  font-weight: normal;
  font-family: "Myriad Pro";
  font-size: 13px;
  text-align: left;
  margin-top: 19px;
  margin-bottom: 11px;
}

#social-checkbox {
  display: flex;
  justify-content: center;
}

div.banner-container {
  padding: 45px;
}

div.customer {
  display: flex;
  justify-content: center;
}

#customer, #contacts {
  width: 210px;
  height: 197px;
  display: inline-block;
  /*border: solid thin #e0e0e0;*/
  border-radius: 6px;
  box-shadow: 0px 3px 7px -1px rgba(46,74,117,0.61);
}

#bust {
  margin-bottom: -28px;
  margin-top: -25px;
}

span.sprite-person-green, span.sprite-person-orange {
  margin: 0 auto;
}

#holder {
  height: 41px;
}

#banner {
  background-color: #2498f4;
  height: 50px;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

#ribbon-left {
  margin-left: -25px;
  margin-top: -5px;
  float: left;
}

#banner h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  display: inline-block;
}

#banner p {
  margin-top: -8px;
  font-size: 11px;
}

#ribbon-right {
  margin-right: -25px;
  margin-top: -50px;
  float: right;
}

#line-chart {
  margin-top: 16px;
}

span.chart {
  margin: auto;
}

#didyouknow {
  margin: 20px auto 20px auto;
  background-color: #2498f4;
  height: 140px;
  border-radius: 5px;
  padding: 30px 40px 30px 40px;
}

#half-circle-left {
  height:50px;
  width:25px;
  border-radius: 0px 90px 90px 0px;
  background:white;
  float:left;
  margin-left: -40px;
  margin-top: 15px;
}

#left-arrow {
  margin-right: 12px;
  margin-top: 16px;
}

#half-circle-right {
  height:50px;
  width:25px;
  border-radius: 90px 0px 0px 90px;
  background:white;
  float:right;
  margin-right: -40px;
  margin-top: -75px;
}

#right-arrow {
  margin-left: 12px;
  margin-top: 16px;
}

#didyouknow p.title {
  font-size: 13px;
  margin-bottom: 0px;
}

#didyouknow p {
  color: white;
  font-size: 15px;
}

div.ads {
  background-color: #2498f4;
  padding: 15px 5px 15px 5px;
  display: flex;
  justify-content: center;
}

div.white-ad  {
  background-color: white;
  margin: 15px;
  height: 160px;
  width: 280px;
  border-radius: 5px;
}

#ad-green {
  /*background-image: url(../images/spritesheet.png);
  background-position: -140px -5px;*/
  margin-right: auto;
  margin-left: -15px;
}

#ad-green-content {

}

p.watch {
  font-size: 20px;
  color: #33cc66;
  text-align: right;
  margin-right: -19px;
  margin-bottom: -7px;
}

#top-of-content-green {
  padding-top: 50px;
}

#message {
  font-size: 14px;
  color: #666666;
  text-align: right;
  margin-right: -19px;
  margin-top: 10px;
}

#ad-people {
  margin-left: -3px;
  margin-top: -11px;
  padding-right: 12px;
}

#ad-people-content {
  background-color: #33cc66;
  /*margin-right: 12px;*/
  vertical-align: middle;
  margin-top: 77px;
  display: inline-block;
  width: 100%;
  margin-right: 12px;
  padding:7px;
  border-radius: 5px;
}

p.see {
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

#ad-orange {
  margin-left: auto;
  margin-right: -15px;
}

#ad-orange-content {
  color: #fe7f13;
}

p.version {
  font-size: 20px;
  margin-left: -36px;
  margin-bottom: -7px;
}

#top-of-content-orange {
  padding-top: 50px;
}

/*#contacts {
  width: 210px;
  height: 197px;
  display: inline-block;
}*/

p, h4, h1, p.title, #didyouknow p{
  font-family: "Myriad Pro";
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container h1 {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: white;
}

p {
  font-size: 14px;
}

.container h4 {
  font-size: 21px;
  font-weight: normal;
  font-family: "Myriad Pro";
}

.container h3 {
  font-size: 32px;
  font-weight: normal;
  font-family: "Myriad Pro";
  color: #2498f4;
}

.col-md-4 h4 {
  color: #2498f4;
  padding-left: 20px;
}

.graph h3 {
  margin-left: 40px;
}
.graph h5 {
  color: grey;
  font-weight: normal;
  font-family: "Myriad Pro";
  font-size: 13px;
  /*margin-left: 53px;*/
}

div.didyouknow {
  background-color: #2498f4;
  height: 140px;
  border-radius: 5px;
}
